@using Microsoft.AspNet.Identity

@model IEnumerable<GlobalSchoolSearch2017_Application.Models.Review>

@{
    ViewBag.Title = "School Reviews by Parents";
}
<link href="~/Content/TableStyle.css" rel="stylesheet" />

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-md-4">
            <h3>Reviews</h3>
        </div>
        <div class="clo-md-8">
            <a class="btn btn-info" href=@Url.Action("Create", "Reviews")>Write a Review &raquo;</a>
        </div>        
    </div>
    <div class="panel-body">

        @if (ViewBag.Message != "")
        {
            <p>@ViewBag.Message</p>
        }

        <div class="row">
            <div class="col-md-9 table-responsive">              
                   
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.School.SchoolName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City.CityName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Country.CountryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReviewText)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Rating)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.School.SchoolName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City.CityName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Country.CountryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReviewText)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                                @*@if (Request.IsAuthenticated)*@
                                @if (User.Identity.GetUserName().ToString() == "vaidya.supriya@gmail.com")
                                {
                                    <div>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </div>
                                }

                            </td>

                        </tr>
                    }
                </table>
            </div>
            <div class="col-md-3">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Advertise18 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-2361562748118340"
                     data-ad-slot="6641812743"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>

    </div>
</div>
