@model GlobalSchoolSearch2017_Application.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>@ViewBag.Title.</h2>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new
        {
            @class = "form-horizontal",
            role = "form"
        }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-9">
                    <h4>Enter your email.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Email Link" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Advertise24 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-2361562748118340"
                         data-ad-slot="6714320156"
                         data-ad-format="auto"></ins>
                    <script>
(adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
           
        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
